## Investigação De Câncer relacionado ao Trabalho - Notificações registradas no Sinan Net - Brasil
## Notificações por Ocupação
Período: 2019-2023

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/tratado/notificacao_por_ocupacao.csv', sep=';')
data

                                          Ocupacao  Notificações
0                           RECEPCIONISTA DE HOTEL             1
1                                      TELEFONISTA             2
2                  OPERADOR DE TELEMARKETING ATIVO             1
3                       DESPACHANTE DOCUMENTALISTA             1
4                                 CHEFE DE COZINHA             1
..                                             ...           ...
399                               Artesão bordador             2
400                Artesão com material reciclável             1
401  Artesão confeccionador de biojóias e ecojóias             1
402                               Artesão escultor             1
403                                          Total          3634

[404 rows x 2 columns]

In [3]:
data = data[data['Ocupacao'] != "Total"]
data

                                          Ocupacao  Notificações
0                           RECEPCIONISTA DE HOTEL             1
1                                      TELEFONISTA             2
2                  OPERADOR DE TELEMARKETING ATIVO             1
3                       DESPACHANTE DOCUMENTALISTA             1
4                                 CHEFE DE COZINHA             1
..                                             ...           ...
398            Selecionador de material reciclável             1
399                               Artesão bordador             2
400                Artesão com material reciclável             1
401  Artesão confeccionador de biojóias e ecojóias             1
402                               Artesão escultor             1

[403 rows x 2 columns]

In [4]:
dataForAnomalyDetection = data.drop(['Ocupacao'], axis=1)
dataForAnomalyDetection

     Notificações
0               1
1               2
2               1
3               1
4               1
..            ...
398             1
399             2
400             1
401             1
402             1

[403 rows x 1 columns]

In [5]:
from pycaret.anomaly import *

In [6]:
s = setup(dataForAnomalyDetection, session_id=123, system_log=False)

In [7]:
iforest = create_model('iforest')
iforest

Initiated  . . . . . . . . . . . . . . . . . .              22:01:18
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

IForest(behaviour='new', bootstrap=False, contamination=0.05,
    max_features=1.0, max_samples='auto', n_estimators=100, n_jobs=-1,
    random_state=123, verbose=0)

In [8]:
plot_model(iforest, plot='umap')

In [9]:
result = assign_model(iforest)
result

     Notificações  Anomaly  Anomaly_Score
0               1        0      -0.225449
1               2        0      -0.200139
2               1        0      -0.225449
3               1        0      -0.225449
4               1        0      -0.225449
..            ...      ...            ...
398             1        0      -0.225449
399             2        0      -0.200139
400             1        0      -0.225449
401             1        0      -0.225449
402             1        0      -0.225449

[403 rows x 3 columns]

In [10]:
ocupacaoColumn = data['Ocupacao']
ocupacaoColumn

0                             RECEPCIONISTA DE HOTEL
1                                        TELEFONISTA
2                    OPERADOR DE TELEMARKETING ATIVO
3                         DESPACHANTE DOCUMENTALISTA
4                                   CHEFE DE COZINHA
                           ...
398              Selecionador de material reciclável
399                                 Artesão bordador
400                  Artesão com material reciclável
401    Artesão confeccionador de biojóias e ecojóias
402                                 Artesão escultor
Name: Ocupacao, Length: 403, dtype: object

In [11]:
result.insert(0, 'Ocupacao', ocupacaoColumn)
result

,Ocupacao,Notificações,Anomaly,Anomaly_Score
0,RECEPCIONISTA DE HOTEL,1,0,-0.225449
1,TELEFONISTA,2,0,-0.200139
2,OPERADOR DE TELEMARKETING ATIVO,1,0,-0.225449
3,DESPACHANTE DOCUMENTALISTA,1,0,-0.225449
4,CHEFE DE COZINHA,1,0,-0.225449
...,...,...,...,...
398,Selecionador de material reciclável,1,0,-0.225449
399,Artesão bordador,2,0,-0.200139
400,Artesão com material reciclável,1,0,-0.225449
401,Artesão confeccionador de biojóias e ecojóias,1,0,-0.225449
402,Artesão escultor,1,0,-0.225449

In [12]:
result[result['Anomaly']==1]

,Ocupacao,Notificações,Anomaly,Anomaly_Score
18,FAXINEIRO,28,1,0.015448
24,CABELEIREIRO,32,1,0.037030
47,FRENTISTA,22,1,0.007358
53,"PRODUTOR AGROPECUARIO, EM GERAL",85,1,0.123468
71,PRODUTOR AGRICOLA POLIVALENTE,462,1,0.266661
75,CAFEICULTOR,36,1,0.026656
81,TRABALHADOR AGROPECUARIO EM GERAL,816,1,0.300985
82,CASEIRO (AGRICULTURA),86,1,0.123468
84,TRABALHADOR VOLANTE DA AGRICULTURA,170,1,0.196578
94,TRABALHADOR DA CULTURA DE CAFE,37,1,0.036893
99,VENDEDOR DE COMERCIO VAREJISTA,27,1,0.010927
110,PINTOR DE OBRAS,44,1,0.070249
156,PEDREIRO,304,1,0.237573
208,"MECANICO DE MANUTENCAO DE AUTOMOVEIS, MOTOCICL...",47,1,0.089308
226,DONA DE CASA,42,1,0.064367
227,APOSENTADO/PENSIONISTA,94,1,0.136640
233,MARCENEIRO,29,1,0.028402
248,CAMINHONEIRO AUTONOMO (ROTAS REGIONAIS E INTER...,18,1,0.000193
249,MOTORISTA DE CAMINHAO (ROTAS REGIONAIS E INTER...,133,1,0.173479
259,ALIMENTADOR DE LINHA DE PRODUCAO,36,1,0.026656
307,"OPERADOR DE MAQUINAS FIXAS, EM GERAL",20,1,0.011746

Fonte: Ministério da Saúde/SVS - Sistema de Informação de Agravos de Notificação - Sinan Net
Notas:

1. Períodos Disponíveis / Período - Correspondem aos anos de notificação dos casos.
1. CAT - Comunicação de acidente de trabalho O campo "CNAE - Ativ. Econ." considera os códigos referentes as tabelas CNAE 1.0.
1. Dados a partir 2020 do Espírito Santo não estão disponíveis neste sistema, pois são oriundos do Sistema de Informação e-SUS VS,
1. Dados de 2006 a 2017 revisados e atualizados em 15/08/2022.
1. Dados de 2018 revisados e atualizados em 22/08/2022.
1. Dados de 2019 atualizados em junho de 2023.
1. Dados de 2020 atualizados em junho de 2023, sujeitos à revisão.
1. Dados de 2021 revisados e atualizados em agosto de 2023, sujeitos à revisão.
1. Dados de 2022 revisados e atualizados em julho de 2023, sujeitos à revisão.
1. Dados de 2023 atualizados em janeiro de 2024, sujeitos à revisão.
* Dados disponibilizados no TABNET em fevereiro de 2024.